@import 'bootstrap';
@import '~react-grid-layout/css/styles.css';

body {
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-space {
    margin-right: 5px;
}

.clickable {
    cursor: pointer;
}

@titlebar-height: ceil((@font-size-large * 2.0));
@titlebar-padding: ceil((@font-size-large * 0.5));

.component {
    border: 1px solid black;

    &.visible-titlebar {
      padding-top: @titlebar-height;

      .titlebar {
        margin-top: -@titlebar-height;
      }
    }

    .titlebar {
      .user-select(none);

      padding: 0px @titlebar-padding;
      height: @titlebar-height;
      background-color: @navbar-inverse-bg;

      &.draggable {
        cursor: pointer;
      }

      .text {
        line-height: @titlebar-height;
        font-size: @font-size-large;
        color: @navbar-inverse-color;
        overflow: hidden;
      }

      .buttons {
        height: @titlebar-height;
        display: table-cell;
        vertical-align: middle;
      }
    }
}
